.container {
    height: 100vh;
    background-color: lightgrey;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    position: relative;
}

.box1 {
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 10px solid red;
}

.box2 {
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 10px solid black;
    position: fixed;
    bottom: 10px;
    right: 0px;
}

.box3 {
    height: 300px;
    width: 200px;
    padding: 10px;
    border: 10px solid green;    
}
