*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 400px;
    margin: 50px auto;
    border: 2px solid #000;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    border-radius: 10px;
}

.screen{
    background-color: #1579fb;
    color: #ffffff;
    border: 2px solid #000;
    font-size: 2em;
    text-align: right;
    padding: 20px;
    height: 90px;
    margin: 5px;
    border-radius: 10px;
}
.buttons{
    display: grid;
    border: 2px solid #000;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background-color: #000000;
    margin: 5px;
    gap: 2px;
    border-radius: 10px;
}
.btn{
    background-color: #f06f3c;
    border: 2px solid #000000;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 1px;
    border-radius: 10px;
}